{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
    <link href="/static/styles/style.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    <title>Document</title>
</head>
<body>
    <section>
        <div class="slider">
            <img src="{% static 'images/logo.png' %} " class="logo all">
        </div>
        <div>
            <ul class="menu all">
                <li><a href="{% url 'recommend' %}">Recommendation</a></li>
                <li><a href="{% url 'ratingsreccomend' %}">Recommendation by ratings</a></li>

            </ul>
        </div>
        <!--<img src="{% static '/images/logo.png' %}" class="logo-big">-->
        <img src="{% static 'images/book.png' %}" class="book">
        <p class="quote">
            A room without book is like a body without a soul.<br>-CICERO
        </p>
    </section>
    <!--<section class="section2">
        <h1 class="about_head">About Us</h1>
        <div style="display: flex;justify-content:space-evenly;margin-top:1%">

            <p class="about_p" align="justify">BOOKFLIX is Analysis and Recommender System made in Python. It provides Sentiment Analysis and Deep Analysis on Books, Authors and Users dataset and also has a Recommendation system. There are two types of Recommender system, Out of them one is Content Based System and other one is collaborative System. You just have to select a book you have readed and then it will recommend you a book </p>
            <img src="{% static 'images/about_book.jpg' %}" class="about_img">
            <div id="circ_container"><p id="circle">BOOKFLIX BOOKFLIX </p></div>
            <div id="circ_container2"><p id="circle2">BOOKFLIX BOOKFLIX </p></div>
        </div>
    </section>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" integrity="sha512-DkPsH9LzNzZaZjCszwKrooKwgjArJDiEjA5tTgr3YX4E6TYv93ICS8T41yFHJnnSmGpnf0Mvb5NhScYbwvhn2w==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js" integrity="sha512-0xrMWUXzEAc+VY7k48pWd5YT6ig03p4KARKxs4Bqxb9atrcn2fV41fWs+YXTKb8lD2sbPAmZMjKENiyzM/Gagw==" crossorigin="anonymous"></script>
    <script src="/static/javascript/circletype.min.js"></script>
    <script>
        const slider = document.querySelector('.slider');
        const menu = document.querySelector('.menu');
        const logo = document.querySelector('.logo');
        const logo_big = document.querySelector('.logo-big');
        const book = document.querySelector('.book');
        const quote = document.querySelector('.quote');
        const t1 = new TimelineMax();
        t1.fromTo(slider, 0, { height: "0%" }, { height: "100%", ease: Power2.easeIn })
            .fromTo(book, 0, { left: "-100%" }, { left: "50%", ease: Power2.easeInOut })
            .fromTo(logo, 0, { opacity: "0" }, { opacity: "1", ease: Power2.easeInOut })
            .fromTo(menu, 0, { opacity: "0" }, { opacity: "1", ease: Power2.easeInOut }, "-=1.5")
            .fromTo(quote, 0, { opacity: "0" }, { opacity: "1", ease: Power2.easeInOut }, "-=1.5")
            .fromTo(about_us, 0, { opacity: "0" }, { opacity: "1", ease: Power2.easeInOut }, "-=1.5")
            .fromTo(sm, 0, { opacity: "0" }, { opacity: "1", ease: Power2.easeInOut }, "-=1.5")
            .fromTo(logo_big, 0, { opacity: "0" }, { opacity: "1", ease: Power2.easeInOut }, "-=1.5");

        new CircleType(document.getElementById("circle"));
        new CircleType(document.getElementById("circle2"));

        const circle1 = document.getElementById("circle");
        const circle2 = document.getElementById("circle2");
        window.addEventListener("scroll", function () {
            circle1.style.transform = "rotate(" + window.pageYOffset + "deg)";
            circle2.style.transform = "rotate(" + window.pageYOffset + "deg)";
        });
    </script>
</body>
</html>
